
*{
    padding: 0;
    margin: 0;
}
header{
    background-color: cornflowerblue
}
ul{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    height: 110px;
    
}
li{
    list-style: none;
   
} 
a{
    text-decoration: none;

}
ul li{
    padding: 0 23px;
}
input{
    padding: 1px 2px;
}

nav{
    display: flex;
}
nav ul li a:hover{
    color: crimson;
    font-style: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    height: 27px;
    border-radius: 5px;
    margin: 0 50px 0 56px;

}
.slider{
    height:120px ;
    width:120px;
    margin: 0 240px 0 ;
float: right;
transition:2s ease-in-out;

    
}
main {
    height: 580px;
}




footer{
    text-align: center;
background-color: cadetblue;
height: 30px;
}
