
*{
    padding: 0;
    margin: 0;
}
header{
    background-color:cornflowerblue;
width: 100%;
}
ul{
    justify-content: flex-start;
    display: flex;
    align-items: center;
    height: 110px;
    
}
li{
    list-style: none;
   
} 
a{
    text-decoration: none;

}
ul li{
    padding: 0 23px;
}
input{
    padding: 1px 2px;
}

nav{
    display: flex;
    
}
nav ul li a:hover{
    color: crimson;
    font-style: bold;
    padding: auto;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 493px;
    height: 27px;
    border-radius: 5px;
    margin: 0 50px 0 56px;

}
.slider{
    height:120px ;
    width:120px;
    margin: 0 px 0 ;
float: right;
/* transition:1s ease-in-out; */


    
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }



    100%{
        transform: rotate(360deg);
    }
}
.slider{
    animation: rotate 7s ease-in-out 1 ;
}

main {
    height: 580px;
}
body {
    background-image: url('/images/mailchimp-6kajEqr84iY-unsplash.jpg');
    background-repeat:repeat;
    background-size:contain;
    
  }




footer{
     text-align: center;
background-color: cadetblue;
height: 30px;
}
